USE [master]
GO
/****** Object:  Database [ParaElInventario]    Script Date: 8/1/2023 00:37:41 ******/
CREATE DATABASE [ParaElInventario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParaElInventario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ParaElInventario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParaElInventario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ParaElInventario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParaElInventario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParaElInventario]
GO
/****** Object:  Table [dbo].[Consumibles]    Script Date: 8/1/2023 00:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumibles](
	[nombre] [varchar](50) NULL,
	[cantidadComprada] [int] NULL,
	[cantidadDisponible] [int] NULL,
	[nro] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_consumibles] PRIMARY KEY CLUSTERED 
(
	[nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElementosDibujo]    Script Date: 8/1/2023 00:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementosDibujo](
	[nombre] [varchar](50) NOT NULL,
	[cantidadDisponible] [int] NOT NULL,
	[cantidadComprada] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[nro] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_elementosDibujo] PRIMARY KEY CLUSTERED 
(
	[nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HerramientasManuales]    Script Date: 8/1/2023 00:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HerramientasManuales](
	[marca] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[material] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
	[lugar] [varchar](50) NULL,
	[cantidad] [int] NULL,
	[nro] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_herramientas] PRIMARY KEY CLUSTERED 
(
	[nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informatica]    Script Date: 8/1/2023 00:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informatica](
	[nombre] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
	[lugar] [varchar](50) NOT NULL,
	[cantidad] [int] NULL,
	[nro] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_informatica] PRIMARY KEY CLUSTERED 
(
	[nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maquinas]    Script Date: 8/1/2023 00:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maquinas](
	[marca] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
	[lugar] [varchar](50) NOT NULL,
	[cantidad] [int] NULL,
	[nro] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_maquinas] PRIMARY KEY CLUSTERED 
(
	[nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muebles]    Script Date: 8/1/2023 00:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muebles](
	[nombre] [varchar](50) NOT NULL,
	[material] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[lugar] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
	[adquirido] [varchar](50) NOT NULL,
	[nro] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_muebles] PRIMARY KEY CLUSTERED 
(
	[nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ElementosDibujo] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[HerramientasManuales] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Informatica] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Maquinas] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Muebles] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Consumibles]  WITH CHECK ADD  CONSTRAINT [ck_cantidad_comprada] CHECK  (([cantidadComprada]>(0)))
GO
ALTER TABLE [dbo].[Consumibles] CHECK CONSTRAINT [ck_cantidad_comprada]
GO
ALTER TABLE [dbo].[Consumibles]  WITH CHECK ADD  CONSTRAINT [ck_cantidad_disponible] CHECK  (([cantidadDisponible]>=(0)))
GO
ALTER TABLE [dbo].[Consumibles] CHECK CONSTRAINT [ck_cantidad_disponible]
GO
ALTER TABLE [dbo].[ElementosDibujo]  WITH CHECK ADD  CONSTRAINT [ck_cantidadComprada] CHECK  (([cantidadComprada]>(0)))
GO
ALTER TABLE [dbo].[ElementosDibujo] CHECK CONSTRAINT [ck_cantidadComprada]
GO
ALTER TABLE [dbo].[ElementosDibujo]  WITH CHECK ADD  CONSTRAINT [ck_cantidadDisponible] CHECK  (([cantidadDisponible]>=(0)))
GO
ALTER TABLE [dbo].[ElementosDibujo] CHECK CONSTRAINT [ck_cantidadDisponible]
GO
ALTER TABLE [dbo].[HerramientasManuales]  WITH CHECK ADD  CONSTRAINT [ckcantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[HerramientasManuales] CHECK CONSTRAINT [ckcantidad]
GO
ALTER TABLE [dbo].[Informatica]  WITH CHECK ADD  CONSTRAINT [ckCantidadIn] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[Informatica] CHECK CONSTRAINT [ckCantidadIn]
GO
ALTER TABLE [dbo].[Maquinas]  WITH CHECK ADD  CONSTRAINT [ck_cantidadMaquinas] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[Maquinas] CHECK CONSTRAINT [ck_cantidadMaquinas]
GO
ALTER TABLE [dbo].[Muebles]  WITH CHECK ADD  CONSTRAINT [ck_cantidad] CHECK  (([cantidad]>=(0)))
GO
ALTER TABLE [dbo].[Muebles] CHECK CONSTRAINT [ck_cantidad]
GO
USE [master]
GO
